@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
  font-family: "gamefont";
  src: url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
}

body {
  background-color: black;
}

canvas {
  font-family: "Press Start 2P";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.snakeboard {
  width: 500px;
  height: 500px;
  background-color: black;
  font-family: "Press Start 2P";
  font-size: 18px;
  color: blue;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  word-spacing: 2px;
  line-height: 30px;
  border: 1px solid lightblue;
}

.snakeboard > p:hover {
  color: lightblue;
}

button {
  color: lightblue;
  border: none;
  font-family: "Press Start 2P";
  font-size: 26px;
  margin-top: 40px;
  background: none;
}

button:hover {
  font-size: 30px;
}

.score {
  color: lightblue;
  font-family: "Press Start 2P";
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#score {
  color: blue;
}
